.container{
    background-color: lightgoldenrodyellow;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.heading{
    color:lightcoral;
}
.imageContainer{
    width: 400px;
}
.image{
    width: 100%;
    object-fit: contain;
}
.btn{
    border: none;
    border-radius: 7px;
    padding: 8px;
    background-color: rgb(35, 79, 226);
    color: azure;
}